{% extends 'header.html' %}
{% block main %}

<div class="card shadow mt-5 offset-2">
    <div class="card-body">
            <h5 class="p-2" style="border-bottom: 2px solid green;">Welcome Administrator</h5>
            <div class="container-fluid mt-3">
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <!-- Info boxes -->
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-6">
                                <a href="{% url 'course' %}" class="text-dark">
                                    <div class="info-box">
										<span class="info-box-icon bg-info elevation-1"><i
                                                class="fas fa-book-open"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Total Course</span> <span
                                                class="info-box-number"> {{totalcourse}}
											</span>
                                        </div>

                                    </div>
                                </a>

                            </div>
                            <!-- /.col -->
                            <div class="col-12 col-sm-6 col-md-6">
                                <a href="{% url 'subject' %}" class="text-dark">
                                    <div class="info-box mb-3">
										<span class="info-box-icon bg-danger elevation-1"><i
                                                class="fas fa-book-reader"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Total Subject</span> <span
                                                class="info-box-number"> {{totalsubject}}
											</span>
                                        </div>

                                    </div>
                                </a>
                            </div>



                            <div class="col-12 col-sm-6 col-md-6">
                                <a href="{% url 'teacher' %}" class="text-dark">
                                    <div class="info-box mb-3">
										<span class="info-box-icon bg-success elevation-1"><i
                                                class="fas fa-users"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Total Teacher</span> <span
                                                class="info-box-number"> {{totalteacher}}
											</span>
                                        </div>

                                    </div>
                                </a>
                            </div>

                            <div class="col-12 col-sm-6 col-md-6">
                                <a href="{% url 'regUser' %}" class="text-dark">
                                    <div class="info-box mb-3">
										<span class="info-box-icon bg-primary elevation-1"><i
                                                class="fas fa-user"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Total Student</span> <span
                                                class="info-box-number"> {{totaluser}}
											</span>
                                        </div>

                                    </div>
                                </a>
                            </div>

                        </div>

                    </div>
                </section>
            </div>

        </div>
    </div>
</div>

{% endblock %}
