{% extends 'header.html' %}
{% block main %}

<div class="card shadow mt-3 offset-2" style="min-height: 90vh">
    <div class="card-body">
        <h4 class="p-2" style="border-bottom: 2px solid green;">Edit Subject</h4>
        <div class="container-fluid mt-3">
            <div class="form-group">
                <form method="post">
                    {% csrf_token %}

                    <label>Course Name</label>
                    <select class="form-control" name="course" id="course">
                        <option value="{{subject.course.id}}">{{subject.course.CourseName}} ({{subject.course.BranchName}})</option>
                        {% for i in course %}
                        <option value="{{i.id}}">{{i.CourseName}} ({{i.BranchName}})</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label>Subject Full Name</label>
                    <input type="text" name="SubjectFullname" value="{{subject.SubjectFullname}}" class="form-control">
                    <br>
                    <label>Subject Short Name</label>
                    <input type="text" name="SubjectShortname" value="{{subject.SubjectShortname}}" class="form-control">
                    <br>
                    <label>Subject Code</label>
                    <input type="text" name="SubjectCode" value="{{subject.SubjectCode}}" class="form-control">
                    <br>
                    <input type="submit" value="Update" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>


{% if error ==  "no" %}
<script>
    alert('Subject has been Updated');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something Went Wrong. Please try again');
</script>
{% endif %}

{% endblock %}
