{% extends 'teacherHeader.html' %}
{% block main %}

<div class="card shadow mt-3 offset-2" style="min-height: 90vh">
    <div class="card-body">
        <h4 class="p-2" style="border-bottom: 2px solid green;">Update Assignment</h4>
        <div class="container-fluid mt-3">
            <div class="form-group">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <label>Course</label>
                    <select name="course" class="form-control">
                        <option value="{{assignment.course.id}}">{{assignment.course.CourseName}}
                            [{{assignment.course.BranchName}}]
                        </option>
                        {% for i in course %}
                        <option value="{{i.id}}">{{i.CourseName}} [{{i.BranchName}}]</option>
                        {% endfor %}
                    </select>

                    <label>Subject</label>
                    <select name="subject" class="form-control">
                        <option value="{{assignment.subject.id}}">{{assignment.subject.SubjectFullname}}
                            [{{assignment.subject.SubjectCode}}]
                        </option>
                        {% for i in subject %}
                        <option value="{{i.id}}">{{i.SubjectFullname}} [{{i.SubjectCode}}]</option>
                        {% endfor %}
                    </select>

                    <label>Assignment Title</label>
                    <input type="text" name="AssignmentTitle" class="form-control" value="{{assignment.AssignmentTitle}}">

                    <label>Assignment Description</label>
                    <textarea name="AssignmentDescription" class="form-control">{{assignment.AssignmentDescription}}</textarea>

                    <label>Last Date of Submission</label>
                    <input type="date" name="SubmissionDate" value="{{assignment.SubmissionDate|date:'Y-m-d'}}" class="form-control">

                    <label>Assignment Marks</label>
                    <input type="text" name="AssignmentMarks" value="{{assignment.AssignmentMarks}}" class="form-control">

                    <br>
                    <label>Assignment File if any</label>
                    <a href="{{assignment.AssignmentFile.url}}" class="btn btn-success">View</a>

                    <br>
                        <input type="file" name="AssignmentFile" class="form-control form-control-sm">


                    <br>
                    <input type="submit" value="Update" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>


{% if error ==  "no" %}
<script>
    alert('Assignment has been Updated');
    window.location=('{% url 'teacherAssignment' %}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Something Went Wrong. Please try again');


</script>
{% endif %}


{% endblock %}