{% load static %}

<script>
    function checkpass()
    {
      if(document.signup.Password.value!=document.signup.cpwd.value){
        alert('Password and Confirm Password field does not match');
        document.signup.cpwd.focus();
        return false;
      }
      return true;
    }
</script>

<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <div class="title">Registration</div>
    <div class="content">
        <form method="post" class="signup" name="signup" onsubmit="return checkpass();">
            {% csrf_token %}
            <div class="user-details">

                <div class="input-box">
                    <span class="details">First Name</span>
                    <input type="text" name="firstName" placeholder="Enter first name" required>
                </div>

                <div class="input-box">
                    <span class="details">Last Name</span>
                    <input type="text" name="lastName" placeholder="Enter last name" required>
                </div>

                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" name="emailId" placeholder="Enter email" required>
                </div>

                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" name="Password" placeholder="Enter your password" required>
                </div>

                <div class="input-box">
                    <span class="details">Confirm Password</span>
                    <input type="password" name="cpwd" placeholder="Confirm your password" required>
                </div>

                <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="text" name="MobileNumber" placeholder="Enter your number" required>
                </div>

                <div class="input-box">
                    <span class="details">Roll Number</span>
                    <input type="text" name="RollNumber" placeholder="Enter your roll number" required>
                </div>

                <div class="input-box">
                    <span class="details">Course</span>
                    <select name="course">
                        <option value="">Select Course Name</option>
                        {% for i in course %}
                        <option value="{{i.id}}">{{i.CourseName}} [{{i.BranchName}}]</option>
                        {% endfor %}
                    </select>
                </div>

            </div>

            <div class="button">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>
</div>

</body>
</html>

{% if error ==  "no" %}
<script>
    alert('You have successfully Register');
    window.location=('{% url 'student_login' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something Went Wrong. Please try again');
</script>
{% endif %}
